body{
    font-family: "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial, sans-serif;
}
.preamble{
    font-weight: bold;
}
main{
    margin: 0 auto;
    width: 986px;
}

code{
    background-color: #FFF7E9;
    padding: 10px;
    display: block;
}
section{
    padding-bottom: 30px;
    border-bottom: 1px solid #ccc;
    overflow: hidden
}
.fab-slideshow{
    width: 986px;
    height: 371px;
}

.fab-slideshow-preview{
    padding: 2px 12px;
}
.fab-slideshow-preview-container{
    height: 392px;
}
.fab-slideshow-preview-item{
    position: relative;
}

.fab-slideshow-preview-item img{
    margin-bottom: 9px;
}
.fab-slideshow-preview-item:first-child img{
}
.fab-slideshow-preview-item:last-child img{
    margin-bottom: 0;
}