.fab-slideshow,
.fab-slideshow div,
.fab-slideshow a,
.fab-slideshow p,
.fab-slideshow span,
.fab-slideshow ul,
.fab-slideshow li{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

.fab-slideshow{
	width: 100%;
	color: #fff;
    background-color: #000;
}

.fab-slideshow .selected{
	z-index: 999;
}
.fab-slideshow a{
	color: #f2f2f2;
}

.fab-slideshow ul{
	padding: 0;
	margin: 0;
	list-style: none;
}

.fab-slideshow-container{
	position: relative;
    width: 80%;
}

.fab-slideshow-item{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}

.fab-slideshow-item img{
	width: 100%;
	display: block;
}

.fab-slideshow-item-text{
	position: absolute;
	width: 100%;
	bottom: 0;
	left: 0;
	background-color: rgba(0,0,0,0.6);
	padding: 2.5% 5%;
}

.fab-slideshow-preview{
    width: 20%;
    float:right;
    background-color: #000;
    padding-left: 1%;
}
.fab-slideshow-preview-item{
    width: 100%;
    display: block;
    padding: 0.5% 0;
}
.fab-slideshow-preview-item img{
    float:left;
    width: 100%;
}